/* login.css */
/* @font-face {
    font-family: 'Valky';
    src: url('./fonts/Valky-Regular.woff2') format('woff2'),
         url('./fonts/Valky-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } */
.login-bod{
    background-color: #351120;
    height: 100vh;
}
.brand-color{
    color: #351120;
}
/* styles.css */
.rounded {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    height: 100vh;
  }
  .logo-right{
    height: 100vh;
  }
  .border-bottom-custom {
    text-align: left;
    border-bottom: 1px solid gray;
    width: 60%;
  }
  .button{
    background-color: #351120;
  }
.button:hover{
    background-color: aliceblue;
    color: #351120;
}
.buttomTwo{
    background-color:white;
    border-radius:#351120 solid 2px;
    color: #351120;
    /* border: #351120 solid 2px; */
}
.signUp{
    border: #351120 solid 2px;
}
.buttomTwo:hover{
    background-color: #351120;
    color: white;
}
.wareperleftside{
    /* border: black 2px solid; */
    width: 50%;
    height: 80%;
    padding-left: 5%;
    padding-top: 5%;
}
.heading-two{
    width: 524px;
    /* height: 100px; */
    /* top: 208px; */
    /* left: 64px; */
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #fef5e3;
    font-family: 'Raleway';  
    /* margin-bottom: 10%;       */
}
.headingOne{
    width: 441px;
    left: 64px;
    font-family: 'Valky', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    /* initial-letter: -2%; */
    color: #fef5e3;
}
.loginPage{
    
    font-family: 'Raleway'; 
    font-size: 19px;
    font-weight: 400;
    /* line-height: 36px; */
     color:#EEEEEE;
     width: 424px;

}
  /* right section  */
  .login-headin {

    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 100;
    /* line-height: 56.35px; */
    /* letter-spacing: -0.04em; */
    text-align: center;
    color: #351120;
}
.bg-custom-color{
    color: #351120;
}
/* Custom class for specific box shadow */
.shadow-custom {
    box-shadow: 0px -1px 8px 6px rgb(0 0 0 / 10%);
    border-radius: 5px;
    height: 45px;
  }
  .Forgot-password{
    width: 60%;
    /* border: #351120 2px solid; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 5%;
  }
  .fotgotpassword{
    position: relative;
    top: 30%;
  }
  .reset-Pasword{
    position: relative;
    top: 20%;
  }